@using OpenCvSharp
@inject HttpClient Http

<div style="display:flex; flex-direction:column; gap:24px;">

    <div>
        <img src="@($"./assets/{_fileName}")" alt="An image of a table" />
    </div>

    <div>
        <button @onclick="OnClickLoadImage">
            Load the above image
        </button>
    </div>

    @if (_loadedImage != null)
    {
        <div>
            Loaded image size is: @_loadedImage.Width x @_loadedImage.Height
        </div>
    }
</div>

@code
{
    private string _fileName = "table.bmp"; // OK
    // private string _fileName = "table.png"; // NG
    // private string _fileName = "table.gif"; // NG
    // private string _fileName = "table.jpg"; // NG

    private Mat? _loadedImage;

    protected async Task OnClickLoadImage()
    {
        var imageBytes = await Http.GetByteArrayAsync($"./assets/{_fileName}");
        _loadedImage = Mat.FromImageData(imageBytes, ImreadModes.Unchanged);
    }
}